.loginForm {

}

.login-content {
    background-color: #e6e7ea;
    width: 700px;
    border: 2px solid #d0d0d0;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.error {
    background: #ff8080;
    color: #eceef2;
}

.notify {
    background: #688ff5;
    color: #eceef2;
}

.registration-wrapper {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    left: 30%;
    top: 10%;
    padding: 10px;
    border: 1px solid #4d58f5;
    border-radius: 10px;
    width: 500px;
}

.input-fields {
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 300px;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
}

.registration-buttons {
    position: relative;
    left: 150px;
    top: 30px;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}